<p>this is demo</p>
<%-include('child.ejs')%>

<%= registerCss({type: "module", path: ['test/css/test.css']}) %>
<%= registerCss({type: "module", path: ['test/css/test2.css']}) %>
<%= registerJs({type: "module", path: ['test/js/test.js']}) %>
